<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .in{
        border: none;
        display: block;
        padding: 1vh;
        border-bottom: 1px solid blue;
    }
    .form{
       padding: 5%;
    }
    ul{
        list-style-type: none;
    }
</style>
<body>
    <div class="form">
        <form action='/post' method='post'>
            <input class="in" name='name' type='text' placeholder='Name'>
            <input class="in" type='text' name='wpno' placeholder='Whatsapp Number'>
            <input class="in" type='email' name='email' placeholder='Email'>
            <button type="submit">Submit</button>
        </form>
    </div>
    <ul>
        <li>12th science</li>
        <li>dsy diploma</li>
    </ul>
    <a href="https://nmcoe.org.in/facilities.php">Other Facilities</a>
    <div class="data">
        <h1>facilities offered</h1>
        <p>The Central Library is our centre of Information hub with par excellence and has excellent facility with multiple copies of Latest Textbooks, Reference Books and Periodicals. For Needy students Book-Bank facility for Reserved Category Students is also available.

            Reference section, study rooms and Photocopying Facilities directs students easy and proper path of knowledge in pleasant atmosphere. A Computer Quick Reference is installed in the library. Internet connection is ready for accessing the information 24x7 to all branch students. The following is college asset.</p>
        <a href="https://nmcoe.org.in/library.php">Go to web site</a>
    </div>
</body>
</html>


<div class="bot">
    <p>Each and every faculty, students of institute are contributing their best to achieve the success to enhance the reputation of institute within the society.</p>
    <ul>
        <li>Excellent infrastructure.</li>
        <li>1:15 Teacher-Student ratio.</li>
        <li>Special awards for meritorious students.</li>
        <li>Library  Facility– High text, reference books, e-journals etc.</li>
        <li>Hostel facilities for Boys and Girls.</li>
        <li>Bus Facility for students from various places.</li>
        <li>Programs on personality development, aptitude, communication skills, soft skills and body language.</li>
        <li>Programs on personality development, aptitude, communication skills, soft skills and body language.</li>
        <li>Well qualified and experienced teaching staff.</li>
        <li>All government scholarships.</li>
        <li>Industry standard laboratories and Workshops.</li>
        <li>Internet Facility with 50 mbps bandwidth.</li>
        <li>Training and Placement Cell.</li>
    </ul>
</div>





